*{
	margin:0;
	padding:0;
}
body{
	
	/*background-color: rgba(228, 167, 2, 1);*/
	background-image:url("../images/bg_dyr_mønster.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Itim', cursive;
}
h1, h2, h3, h4, h5, h6, .navbar{
		font-family: 'Luckiest Guy', cursive;

}
h1{
	letter-spacing: 7px;
	color:#E4A702;
	font-size: 2em;
	line-height: 100px;
	text-shadow: 1px 1px 2px #000;
}
/*////////////////////////////////////////////
GRID SETUP
///////////////////////////////////////////*/
.grid{
	display: grid;
	margin-top: 50px;
	grid-template-rows:auto;
	grid-template-columns: repeat(12, 1fr);
}
.content{
	grid-column-start: 3;
  	grid-column-end: 11;
  	padding:0 20px;
  	
}

.content_header{
	grid-column: 3/ 13;
	text-align: center;
	background: rgba(44, 43, 43, 1);
	font-size: 2em;
	padding-bottom: 50px;
}
.content_gap{
	padding-bottom: 50px;
}
/*////////////////////////////////////////////
NAVIGATION
///////////////////////////////////////////*/
.navbar{
	display: grid;
  	grid-template-columns: repeat(12, 1fr);
	grid-column: 1 / 13;
	grid-row:2fr;
	width:100%;
	text-align:right;
	background: #202020;
	position: fixed;
	top:0;
	z-index: 999;
}
.navbar ul li{
	list-style-type: none;
	display: inline-block;
	height:10px;
	padding:10px 0px;
	line-height: 10px;
	margin:10px 0;
	transition: all .5s ease;
}
.navbar ul{
	grid-column: 5/ 11;
}
.navbar ul li a{
	text-decoration: none;
	font-size: 1.5em ;
	color: #E4A702;
	transition: all .5s ease;
	margin-right: 50px;
	padding-left: 5px;
	border-left:3px solid #E4A702;
}
.navbar ul li:last-child a{
	margin-right: 20px;
}
.navbar ul li:hover a{
	color:white;
	border-color: white;
}
.navbar .ul .active a{
	color:white;
	border-color: white;
}

.logo{
	grid-column:3 /5;
	height:50px;
	line-height: 50px;
	display: inline-block;
	text-align: left;
	text-decoration: none;
	color:#E4A702;
	font-size: 1.5em;
}
.logo img{
	height:50px;
	float:left;
	margin:5px 5px 5px 0px;
}
.navbar .ul li:last-child{
	text-align: right;
	margin:0;
}
.navbar ul li:last-child a{
	color:white;
	background-color:#0678C1; 
	border-radius: 5px;
	border:none;
	padding:10px;
	margin-right: 0px;
}
.navbar .ul li:last-child:hover{
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  	transform: translate3d(0, 0, 0);
 	backface-visibility: hidden;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/*////////////////////////////////////////////
FOOTER
///////////////////////////////////////////*/
footer{
	display: grid;
	grid-column: 1 / 13;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1fr 1fr;
	background: #202020;
	height:200px;
}
.foot{
	text-align: center;
}
.first{
	grid-column-start: 3;
	grid-column-end: 5;
	margin-left: 20px;
}
.second{
	grid-column-start: 6;
	grid-column-end: 8;
}
.third{
	grid-column-start: 9;
	grid-column-end: 11;
	margin-right: 20px;
}
.first nav ul{
	line-height: 100px;
}
.first nav ul li{
	list-style: none;
	height:25px;
}
.first nav ul li a{
	text-decoration: none;
	color:#909090;
	opacity: .7;
}
.first nav ul li a:hover{
	text-decoration: underline;
}
.second a{
	color:#909090;
	opacity: .7;
	line-height: 200px;
	font-size: 3em;
	margin:0px 15px 0px 0px;
}
.third{
	line-height: 200px;
	opacity: .7;
}
.third a img{
	height:100px;
}
.fourth{
	grid-row-start: 2;
	grid-column: 1 / 13;
	background-color: #202020;
	text-align: center;
	color:#909090;
}
.fourth i{
	opacity: .7;
}
.fourth p{
	color:#909090;
	display: inline-block;
	padding-bottom: 10px;
	opacity: .7;
}
/*////////////////////////////////////////////
FORSIDE
///////////////////////////////////////////*/
.front_news{
	background-color:rgba(44, 43, 43, 1);
}
.frontpage{
	text-align: center;
	transition: all .5s ease;
	padding-bottom: 50px;
}
.front_section{
	width:230px;
	display: inline-block;
	text-align: left;
	padding-bottom: 10px;
	margin-right: 10px;
}
.front_section:last-child{
	margin:0;
}
.frontpage h1{
	color:#E4A702;
	font-size: 3em;
	line-height: 100px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 2px #000;
}
.front_section p{
	width:230px;
	height:50px;
	padding-bottom: 10px;
	color:white;
}
.frontpage h2{
	color:#E4A702;
	font-size: 1em;
	padding-bottom: 10px;
}
.front_section a{
	text-decoration: none;
	color:#E4A702;
	transition: all .5s ease;
}
.front_section img{
	width:100%;
	height: 150px;
}
.front_section a:hover{
	color:#F0D05F;
	text-decoration: underline;
}
header{
	height:500px;
	grid-column-start: 1;
  	grid-column-end: 13;
  	background-color: #E4A702;
	line-height: 100vh;
	text-align: center;
}
 	
header img{
	transform: scale(.7);
}

.more_link{
	display: block;
	margin-left:auto;
	margin-right:auto;
	width:100px;
	text-decoration: none;
	border:5px solid #E4A702;
	padding:10px 20px;
	color:#E4A702;
	font-size: 1.5em;
	margin-top: 50px;
	transition: all .5s ease;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 1px #000;
}
.more_link:hover{
	background: #E4A702;
	color:white;
}
.front_listen{
	grid-row:3 / 5;
	background-color: #EDEBEB;
}
.listen_link{
	margin-right: 50px;
	font-size: 5em;
	color:#2C2B2B;
	transition: all .5s ease;
	text-shadow: 1px 1px 2px #000
}
.listen_link:last-child{
	margin:0;
}
.listen_link:hover{
	color:#E4A702;
}
.front_dates{
	background-color: white;
}
.front_dates table{
	width:100%;
	border-collapse:collapse
}
.front_dates table tr{
	font-size: 1.2em;
	height:100px;
	border-top:1px solid black;
	text-align: left;
}
.front_dates table tr th:last-child{
	text-align: right;;
}
.front_dates table a{
	text-decoration: none;
	background: #E4A702;
	color:white;
	padding:15px 45px;
	border-radius: 5px;
	transition: all .5s ease;
	border:5px solid #E4A702;
	box-shadow: 1px 1px 5px 1px #000
}
.front_dates table a:hover{
	background-color: white;
	color:#E4A702;
}
/*////////////////////////////////////////////
Om Pepe
///////////////////////////////////////////*/
.om_pepe{
	background-color: #2C2B2B;
	text-align:left;
	color:#F0F0F0;
	line-height: 28px;
}
.om_pepe img{
	margin-top: 20px;
}
.om_pepe dl{
	display: inline-block;
	margin-bottom: 20px;
}
.om_pepe dl dt{
	color:#E4A702;
	display: inline-block;
}

/*////////////////////////////////////////////
ALBUMS
///////////////////////////////////////////*/
.box img{
    width: 200px;
    height: 200px;
    margin: 5px;
    grid-row: span 3;   
}
.content .box {
    background-color:#2C2B2B;
    padding: 20px;
    display: grid;
   grid-template-columns: 300px 1fr 300px;
   border-bottom: 4px solid #E4A702;
}
.box {
	color: #E4A702;

}
.box h1{
	letter-spacing: 3px;
	font-size: 1em;
	line-height: 20px;
}
.box .youtubebutton{
	grid-column-start: 3;
	grid-row-start: 2;
	text-align: center;
	color:#cc181e;
	height: 65px;
	width: 100px;
}
.box a{
	grid-column-start: 3;
	grid-row-start: 2;
}
.box p, .box ol,	 .box h1{
	grid-column-start: 2;
}

/*////////////////////////////////////////////
NEWS
///////////////////////////////////////////*/
.news_site{
	background-color: #2C2B2B;
}
.news_site article{
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 5px solid #E4A702;
}
.news_site article img{
	vertical-align: text-top;
	width:300px;
	height:200px;
	float:left;
	margin-right: 20px;
}
.news_site article h2{
	color: #E4A702;
	display: inline-block;
	font-size: 1.5em;
	margin-bottom: 10px;
	letter-spacing: 2px;
}
.news_site article h3{
	color:white;
	margin-bottom: 10px;
}
.collapsible{
	background-color: #E4A702;
	border:none;
	width:100px;
	height:30px;
	color:white;
	border-radius: 5px;
	margin-top: 90px;
	margin-bottom: 20px;
	cursor: pointer;
}
.news_site article .p_show{
	color:white;
	display: none;
	margin-bottom: 20px;
}
/*////////////////////////////////////////////
´Media
///////////////////////////////////////////*/
.content_media{
	background-color:  #2C2B2B;
}
iframe{
	width: 228px;
	margin-right: 15px;
	margin-top: 10px;
	border-bottom: 2px solid #E4A702;

}
iframe:nth-child(5), iframe:nth-child(9), iframe:nth-child(13){
	margin-right: 0;
}
.content_media img{
	width: 228px;
	height: 180px;
	margin-right: 15px;
	margin-top: 10px;
	border-bottom: 2px solid #E4A702;
}
.content_media img:nth-child(5), .content_media img:nth-child(9), .content_media img:nth-child(13), .content_media img:nth-child(17){
	margin-right: 0;
}

/*////////////////////////////////////////////
STORE
///////////////////////////////////////////*/
.content_store{
	background-color:#EDEBEB;
	
}
.content_store .content_header{
	padding-bottom: 0px;
}
.content_store .content_header h1{
	padding:20px 0;
}
.store{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}
.store h2{
	grid-column-start:2;
	font-size: 2em;
	margin:20px 0px;
	color:#2C2B2B;
}
.store article img{
	height:300px;
	background-color:#CACACA;
}
.store article{
	position: relative;
	transition: all .7s ease;
}
.store .store_col_1{
	grid-column-start:1;
}
.store .store_col_2{
	grid-column-start:2;
}
.store .store_col_3{
	grid-column-start:3;
}
.item_price{
	margin-bottom: 20px;
}
.item_name{
	font-weight: bold;
	font-size: 1.2em;
}
.store article a{
	position:absolute;
	top:40%;
	left:35%;
	text-decoration: none;
	background-color:#E4A702 ;
	width:100px;
	height:50px;
	line-height: 50px;
	color:white;
	border-radius: 10px;
	opacity: 0;
	transition: all .7s ease;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3)
}
.store article:hover img{
	opacity: .5;
}
.store article:hover a{
	opacity: 1;
}